<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <section class="main">
                <h1>about</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi natus quis praesentium? Dolores,
                    veritatis laboriosam vel exercitationem laborum soluta illum excepturi cupiditate odio nihil
                    expedita eum nisi sed! Minima, maiores!
                </p>
            </section>
    </body>

</html>